@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CarotSlab";
  src: url(../public/fonts/Carot\ Slab\ Medium.ttf);
}
@font-face {
  font-family: "TTChocolates";
  src: url(../public/fonts/TT\ Chocolates\ Trial\ Light.otf);
}
@font-face {
  font-family: "TTChocolatesMedium";
  src: url(../public/fonts/TT\ Chocolates\ Trial\ Regular.otf);
}
@font-face {
  font-family: "TTChocolatesBold";
  src: url(../public/fonts/TT\ Chocolates\ Trial\ Medium.otf);
}
@font-face {
  font-family: "DKAppelstroop";
  src: url(../public/fonts/DK\ Appelstroop.otf);
}
@font-face {
  font-family: "ExtraWide";
  src: url(../public/fonts/fonnts.com-Roc_Grotesk_ExtraWide_Medium.otf);
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.shadoww {
  box-shadow: 4px 4px 8px 10px rgba(0, 0, 0, 0.25);
  text-shadow: 4px 4px 8px 10px rgba(0, 0, 0, 0.25);
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  color: white;
  font-family: "TTChocolates";
  overscroll-behavior: none;
}
::-webkit-scrollbar {
  width: 6px;
  --tw-bg-opacity: 0.8;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

span {
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.checked span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(4px, 0px);
}

.checked span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

.checked span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(13.5px, -4.5px) rotatez(45deg);
}
.backgroundScroll {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(
      0deg,
      rgba(0, 122, 131, 0.8) 0%,
      rgba(0, 122, 131, 0.8) 100%
    ),
    url(../public/Homepage/ScrollSection/BackgroundImageScroll.png) lightgray
      50% / cover no-repeat;
}
.backgroundScrollSports {
  background: url(../public/infrastructure/computerScience/background.png)
    lightgray 50% / cover no-repeat;
}

/* linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(
      0deg,
      rgba(0, 122, 131, 0.72) 0%,
      rgba(0, 122, 131, 0.72) 100%
    ), */

.backgroundVirtual {
  /* background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
    url(../public/Homepage/Virtual/BackgroundVirtual.png) lightgray 0px -225.15px /
      100% 130% no-repeat;
  background-size: cover;
  background-position: center; */
  border-radius: 25px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(
      0deg,
      rgba(0, 122, 131, 0.44) 0%,
      rgba(0, 122, 131, 0.44) 100%
    ),
    url(../public/Homepage/Virtual/stats.png) lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 25px 15px rgba(0, 0, 0, 0.25);
}
.textShadow {
  text-shadow: 0px 4px 40px #007a83;
}
@keyframes translateIn {
  from {
    transform: translateY(10vh);
  }
  to {
    transform: translateY(0vh);
  }
}

.translate-in {
  animation: translateIn 0.5s ease-out;
}

.card-group:hover .slide-in {
  animation: slideIn 0.8s ease-out;
  display: block;
}

@keyframes slideIn {
  from {
    display: none;
    transform: translateY(15vh);
    /* opacity: 0.5; */
  }
  to {
    display: block;
    transform: translateY(0);
    /* opacity: 1; */
  }
}
table {
  border-collapse: collapse;
  width: fit-content;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.7); */
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #fff;
}

th,
td {
  border: 1px solid #fff;
  padding: 18px;
  text-align: left;
}
td {
  padding: 15px;
  color: white;
}
th {
  border: 1px solid #3d001b;
  font-size: 18px;
  text-align: center;
}
th {
  background-color: #fff;
  color: #3d001b;
}

.total-row {
  font-weight: bold;
  background-color: #fff;
  border-top: 2px solid #fff;
}

.total-row td {
  border-top: none;
}

.footer-call-number {
  margin: 15px 0px;
  height: fit-content;
  background-image: linear-gradient(
    to right,
    #5d5d5d,
    hsl(0 0% 48% / 1),
    #525252,
    #4d4c51
  );
  padding: 8px 20px;
  background-size: 300% 100%;
  box-shadow: rgba(0, 0, 0, 0) 0px 8px 24px;
  border-radius: 9999px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: fit-content;
  cursor: pointer;
  transition: all 0.3s;
}

.footer-call-number:hover {
  background-position: 100% 0;
}

.footer-call-number-gif {
  display: flex;
  height: fit-content;
  width: 40px;
  align-items: center;
  justify-content: center;
}

.footer-call-number-text {
  height: inherit;
  display: flex;
  align-items: left;
  justify-content: center;
  font-family: TTChocolates;
  font-size: 16px;
  font-weight: 400;
  flex-direction: column;
}
input[type="radio"]:checked + label span {
  background-color: white;
  box-shadow: 0px 0px 0px 2px white inset;
}

input[type="radio"]:checked + label {
  color: white;
}
::-webkit-scrollbar {
  display: none;
}
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select.classic {
  background-image: linear-gradient(45deg, transparent 50%, #d9d9d9 50%),
    linear-gradient(135deg, #d9d9d9 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1.2em + 2px),
    calc(100% - 15px) calc(1.2em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 2em;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
  th,
  td {
    padding: 8px;
  }
  td {
    padding: 6px;
    font-size: 10px;
  }
  th {
    font-size: 12px;
  }
}
