.site-map-tree {
  padding: 0px;
  position: relative;
  top: 130px;
  width: 100%;
  height: calc(100% - 280px);
  overflow: auto;
}

.site-map-header {
  height: 60px;
  border-bottom-width: 1px;
  border-color: #c5c5c5;
  display: flex;
}

.site-map-link {
  height: inherit;
  display: flex;
  color: #007a83;
  font-family: TTChocolatesBold;
  font-size: 22px;
  font-weight: 700;
  align-items: center;
  flex-grow: 1;
  padding-left: 1rem;
  transition: all 0.3s ease;
}

/* .site-map-link:hover {
  background-color: #d7d7d7;
  border-bottom-width: 1px;
  border-color: #939393;
} */

.site-map-header-plus {
  width: 60px;
  background-color: #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  transition: background-color 0.3s ease, box-shadow 0.4s ease;
}

/* .site-map-header-plus:hover {
  background-color: #d7d7d7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
} */

.site-map-header-minus {
  width: 60px;
  background-color: #d7d7d7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  transition: all 0.4s ease;
}

/* .site-map-header-minus:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
} */

.site-map-sub-header-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.3s;
}

.site-map-sub-header-wrapper-show {
  grid-template-rows: 1fr;
}

.site-map-sub-header-inner-wrapper {
  overflow: hidden;
}

.site-map-sub-header {
  height: 60px;
  color: #007a83;
  font-size: 20px;
  font-family: TTChocolates;
  font-weight: 600;
  border-bottom-width: 1px;
  border-color: #fff;
  display: flex;
  align-items: center;
  background-color: #d7d7d7;
}

.site-map-sub-link,
.site-map-ss-link {
  height: inherit;
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 1rem;
  transition: all 0.3 ease;
}

/* .site-map-sub-link:hover {
  background-color: #919191;
} */

.site-map-sub-header-minus,
.site-map-sub-header-plus,
.site-map-ss-header-minus,
.site-map-ss-header-plus {
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  transition: all 0.4s ease;
  height: inherit;
}

/* .site-map-sub-header-plus:hover {
  background-color: #919191;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
} */

.site-map-sub-header-minus {
  background-color: #919191;
}

/* .site-map-sub-header-minus:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
} */

.site-map-ss-header {
  min-height: 60px;
  color: white;
  font-size: 18px;
  border-bottom-width: 1px;
  border-color: white;
  font-family: TTChocolates;
  font-weight: 400;
  display: flex;
  background-color: #919191;
}

.site-map-ss-header-plus {
  background-color: #919191;
}

/* .site-map-ss-header-plus:hover,
.site-map-ss-link:hover {
  background-color: #2c2c2c;
  color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
} */

.site-map-ss-header-minus {
  background-color: #2c2c2c;
}

.site-map-ss-header-minus {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.site-map-sss-link {
  display: flex;
  height: 60px;
  padding-left: 1rem;
  font-size: 16px;
  font-family: TTChocolates;
  font-weight: 300;
  background-color: #2c2c2c;
  color: white;
  border-bottom-width: 1px;
  border-color: white;
  align-items: center;
  transition: all 0.3 ease;
}

/* .site-map-sss-link:hover {
  text-decoration-color: rgba(255, 255, 255, 1);
} */
